# fly.toml app configuration file generated for tgymfr-hocuspocus on 2024-01-05T15:22:21+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "tgymfr-hocuspocus"
primary_region = "cdg"

[http_service]
  internal_port = 1234
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

  [http_service.concurrency]
    type = "requests"
    hard_limit = 250
    soft_limit = 200
