name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  main:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npx nx run-many -t lint --parallel=3

      - name: Prisma Generate
        run: npx nx run-many -t prisma-generate --parallel=3

      - name: Build
        run: npx nx run-many -t build --parallel=3
        env:
          NEXT_PUBLIC_FIREBASE_CONFIG: ${{ vars.NEXT_PUBLIC_FIREBASE_CONFIG }}
          NEXT_PUBLIC_HOCUSPOCUS_URL: ${{ vars.NEXT_PUBLIC_HOCUSPOCUS_URL }}

      - name: Test
        run: npx nx run-many -t test --parallel=3

      - name: Log in to Docker Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker push app
        uses: docker/build-push-action@v5
        with:
          context: .
          file: apps/app/Dockerfile
          tags: s0laster/tgym.fr-app:latest
          push: true

      - name: Docker push website
        uses: docker/build-push-action@v5
        with:
          context: .
          file: apps/website/Dockerfile
          tags: s0laster/tgym.fr-website:latest
          push: true

      - name: Docker push hocuspocus
        uses: docker/build-push-action@v5
        with:
          context: .
          file: apps/hocuspocus/Dockerfile
          tags: s0laster/tgym.fr-hocuspocus:latest
          push: true

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy app
        uses: azure/container-apps-deploy-action@v1
        with:
          resourceGroup: tgym.fr
          containerAppName: app
          imageToDeploy: registry.hub.docker.com/s0laster/tgym.fr-app:latest
          registryUrl: registry.hub.docker.com
          registryUsername: ${{ secrets.DOCKER_USERNAME }}
          registryPassword: ${{ secrets.DOCKER_PASSWORD }}

      - name: Deploy website
        uses: azure/container-apps-deploy-action@v1
        with:
          resourceGroup: tgym.fr
          containerAppName: website
          imageToDeploy: registry.hub.docker.com/s0laster/tgym.fr-website:latest
          registryUrl: registry.hub.docker.com
          registryUsername: ${{ secrets.DOCKER_USERNAME }}
          registryPassword: ${{ secrets.DOCKER_PASSWORD }}

      - name: Deploy hocuspocus
        uses: azure/container-apps-deploy-action@v1
        with:
          resourceGroup: tgym.fr
          containerAppName: hocuspocus
          imageToDeploy: registry.hub.docker.com/s0laster/tgym.fr-hocuspocus:latest
          registryUrl: registry.hub.docker.com
          registryUsername: ${{ secrets.DOCKER_USERNAME }}
          registryPassword: ${{ secrets.DOCKER_PASSWORD }}

      - name: Prisma Deploy
        run: npx nx run-many -t prisma-deploy --parallel=3
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
