name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  main:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: nrwl/nx-set-shas@v3

      - name: Log in to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Install dependencies
        run: npm ci

      - name: Check format
        run: npx nx format:check

      - name: Lint
        run: npx nx affected -t lint --parallel=3

      - name: Build
        run: npx nx affected -t build --parallel=3

      - name: Test
        run: npx nx affected -t test --parallel=3

      - name: Push app
        uses: docker/build-push-action@v5
        with:
          file: packages/app/Dockerfile
          tags: ${{ secrets.DOCKER_REGISTRY }}/app:latest
          push: true

      - name: Push server
        uses: docker/build-push-action@v5
        with:
          file: packages/server/Dockerfile
          tags: ${{ secrets.DOCKER_REGISTRY }}/server:latest
          push: true
