name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  main:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy app
        uses: azure/container-apps-deploy-action@v1
        with:
          resourceGroup: tgym.fr
          containerAppName: app
          imageToDeploy: s0laster/tgym.fr:app
          registryUrl: registry.hub.docker.com
          registryUsername: ${{ secrets.DOCKER_USERNAME }}
          registryPassword: ${{ secrets.DOCKER_PASSWORD }}

      - name: Deploy server
        uses: azure/container-apps-deploy-action@v1
        with:
          resourceGroup: tgym.fr
          containerAppName: hocuspocus
          imageToDeploy: s0laster/tgym.fr:server
          registryUrl: registry.hub.docker.com
          registryUsername: ${{ secrets.DOCKER_USERNAME }}
          registryPassword: ${{ secrets.DOCKER_PASSWORD }}
